body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://i.pinimg.com/736x/93/df/e1/93dfe16b56ad4afbad90918f7fd9dd83.jpg);
  }
  
  .message {
    font-size: 24px;
    font-weight: bold;
    color: #ff6347; /* Tomato red color */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 3s ease-in-out infinite;
  }
  
  /* Animation for the Hindi message */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    50% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  